body{
    background-color: yellowgreen;
}

img{
    width: 100px;
}

h2{
    color: white;
        font-family: 'Nunito', sans-serif;

}

p{
    text-align: center;
    color:red;
    text-decoration: line-through;
}

ul{
    color: brown;
}

li{
    color: purple;
}

table{
    color: blueviolet;
}

form{
    color: cornflowerblue;
}

#blockOne{
    background-color: indigo;
    width: 300px;
    border: 5px solid #333;
    position: absolute;
    font-family: 'Nunito', sans-serif;

}

.daBlocks{
    background-color: lightsalmon;
    width: 400px;
    position: relative;
    font-family: 'Lacquer', sans-serif;


}

a:hover {
  color: yellow;
  text-decoration: underline;

}


.col{
    background-color: beige;
}
.row{
    background-color: chocolate
}
